header{
    background-color: transparent;
}
header nav ul li a{
    color: black;
}

header nav ul li a::after{
    background-color: black;
}

header.hidden{
    position: fixed;
    z-index: 200;
    height: 65px;
    top: 0;
    transform: translateY(-80px);
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.279);
    background-color: rgb(40, 36, 213);
    transition: .3s ease;
}
header.hidden ul li a{
    color: white;
}
header.hidden ul li a::after{
    background-color: white;
}
header.hidden.active{
    transform: translateY(0);
}
/* Main */
main{
    margin: 50px auto;
    width: 80%;
    max-width: 1400px;
}
main > img{
    width: 100%;
    max-height: 400px;
    border-radius: 16px;
    margin-bottom: 40px;
    object-fit: cover;
}

/* Title */
.title{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    margin: 0 auto 65px;
}
.title img{
    display: block;
    object-fit: cover;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.title .text{
    text-align: center;
}
.title .text h1{
  color: rgb(40, 36, 213);
  font-size: 1.6rem;
}
.title .text span{
    display: inline-block;
    font-weight: 300;
    margin-top: 3px;
    color: rgba(0, 0, 0, 0.837);
}
.gist{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 30px;
}

/* Article */
article{
    padding: 0 10px;
}
article > img{
    display: block;
    width: 100%;
    margin: 30px auto;
    border-radius: 12px;
    max-width: 620px;
}
article h3{
    padding-top: 90px;
    width: 100%;
    max-width: 850px;
    margin: -35px auto 20px;
}
article h3 a{
    font-size: 1.4rem;
    color: #151515;
    font-weight: 500;
}
article b, strong{
    font-weight: 500;
}
article ul.special{
    width: 100%;
    max-width: 850px;
    margin: 35px auto 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}
article ul.special:not(:first-of-type) li{
    border-radius: 4px;
    font-weight: 300;
    border: 1px solid rgb(40, 36, 213);
    line-height: 1;
    padding: 8px 15px;
    color: rgb(40, 36, 213);
    transition: background-color .2s ease, color .2s ease;
}
article code{
    background-color: rgba(30, 30, 30, 0.1);
    padding: 4px 10px;
    margin: 0 2px;
    border-radius: 4px;
    font-size: .9rem;
    font-weight: 200;
    color: rgb(32, 32, 32);
}
article ul.special li a{
    display: block;
    border-radius: 4px;
    font-weight: 300;
    border: 1px solid rgb(40, 36, 213);
    line-height: 1;
    padding: 8px 15px;
    color: rgb(40, 36, 213);
    transition: background-color .2s ease, color .2s ease;
}
article ul.special li:hover a{
    color: #fff;
    background-color: rgb(40, 36, 213);
}
article ul.special:not(:first-of-type) li:hover{
    color: #fff;
    background-color: rgb(40, 36, 213);
}
article .media{
    width: 100%;
    max-width: 850px;
    margin: 40px auto;
    overflow: hidden;
}
article .media video, article .media img{
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}
article .media span{
    display: block;
    margin-top: 30px;
    text-align: right;
    font-weight: 200;
    font-size: .85rem;
}
article a{
    color: rgb(40, 36, 213);
}
article p{
    color: rgba(0, 0, 0, 0.832);
    font-weight: 300;
    font-size: 1.08rem;
    width: 100%;
    max-width: 850px;
    -webkit-hyphens: auto;
    hyphens: auto;
    text-align: justify;
    line-height: 1.6;
    margin: 0 auto 30px;
}


.seealso{
    display: flex;
    width: 100%;
    padding: 30px;
    gap: 50px;
    max-width: 850px;
    align-items: center;
    margin: 50px auto;
    border-radius: 12px;
    box-shadow: 0 16px 20px rgba(0, 0, 0, 0.161);
    background-color: rgb(49, 35, 202);
}


.seealso .image{
    width: 100%;
    max-width: 300px;
}
.seealso .text h4{
    color: rgb(238, 238, 238);
    font-size: 1.4rem;
    margin-bottom: 5px;
}
.seealso .text p{
    font-size: 1rem;
    text-align: left;
    font-weight: 200;
    color: white;
}
.seealso .text ul{
    padding-left: 20px;
}
.seealso .text ul li{
    position: relative;
    list-style: none;
    margin-bottom: 5px;
}
.seealso .text ul li::before{
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translateY(-50%);
    height: 2px;
    width: 2px;
    border-radius: 50%;
    background-color: rgb(241, 241, 241);
}
.seealso .text ul li a{
    font-weight: 200;
    color: rgb(211, 211, 211);
    transition: color .2s ease;
}
.seealso .text ul li a:hover{
    color: white;
}

main .final{
    width: 100%;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    gap: 35px;
}
main .final .author{
    width: 100%;
    max-width: 80px;
    max-height: 80px;
    overflow: hidden;
    border-radius: 50%;
}
main .final .author img{
    width: 100%;
    display: block;
}
main .final .text h2{
    font-size: 1.4rem;
    color: rgb(40, 36, 213);
    font-weight: 800;
}
main .final .text p{
    font-size: .95rem;
    margin-top: 6px;
    font-weight: 300;
}
main .final .text .links{
    display: flex;
    justify-content: center;
    gap: 17px;
    margin-top: 14px;
}
main .final .text .links a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    background-color: rgb(40, 36, 213);
    width: 32px;
    border-radius: 100%;
    color: #fff;
    font-size: 1rem;
    transition: transform .3s ease;
}
main .final .text .links a:hover{
    transform: translateY(-3px);
}
main .final .text .links a:active{
    transform: translateY(3px);
}

main .tags{
    -webkit-user-select: none;
    user-select: none;
    width: 100%;
    max-width: 850px;
    margin: 50px auto 0;
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-wrap: wrap;
}
main .tags span{
    cursor: pointer;
    padding: 6px 12px;
    font-size: .85rem;
    font-weight: 400;
    color: rgb(40, 36, 213);
    border: 1px solid rgb(40, 36, 213);
    border-radius: 50px;
    transition: background-color .2s ease, color .2s ease;
}
main .tags span:hover{
    background-color: rgb(40, 36, 213);
    color: #fff;
}

.end{
    display: flex;
    gap: 3px;
    justify-content: center;
    width: 100%;
    margin: 60px auto 80px;
}
.end span{
    background-color: rgb(40, 36, 213);
    border-radius: 50%;
    padding: 3px;
}

@media(max-width: 820px){
    .seealso{
        padding: 20px 25px;
        flex-direction: column;
        gap: 20px;
    }
    .seealso .text h4{
        font-size: 1.2rem;
    }
    .seealso .text p, .seealso .text ul li a{
        font-size: .97rem;
    }
}
@media(max-width: 720px){
    header nav button i{
        color: rgb(40, 36, 213);
    }
    header.hidden nav button i{
        color: white;
    }
    header nav ul li a{
        color: white;
    }
    header.hidden nav ul{
        position: fixed;
    }
    header.hidden nav ul{
        opacity: 0;
        visibility: hidden;
    }
    header.hidden.active nav.active ul{
        opacity: 1;
        visibility: visible;
    }
}