/* Header */
header{
    background-color: transparent;
}
header nav ul li a{
    color: black;
}
header nav ul li a::after{
    background-color: black;
}
header:not(.hidden) button i{
    color: rgb(40, 36, 213);
}
header.hidden{
    position: fixed;
    z-index: 200;
    height: 70px;
    top: 0;
    transform: translateY(-80px);
    box-shadow: 0 -4px 15px rgba(0, 0, 0, 0.279);
    background-color: rgb(40, 36, 213);
    transition: .3s ease;
}
header.hidden ul li a{
    color: white;
}
header.hidden ul li a::after{
    background-color: white;
}
header.hidden.active{
    transform: translateY(0);
}

/* Application */
main{
    text-align: center;
    min-height: calc(100% - 270px);
}

/* Gallery Switcher */
.toggler{
    position: relative;

    -webkit-user-select: none;
    user-select: none;
    display: inline-flex;
    gap: 10px;
    padding: 0 12px;
    border: 1px solid rgb(40, 36, 213);
    border-radius: 40px;
    margin: 40px auto 30px;
}
span.option{
    /* background-color: rgba(0, 0, 0, 0.335); */
    position: relative;
    z-index: 1;
    color: rgb(40, 36, 213);
    font-weight: 300;
    padding: 14px 16px;
    line-height: 1;
    cursor: pointer;
    transition: color .2s ease;
}
span.option.active{
    color: #fff;
}

/* Blue Overlay */
span.overlay{
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 0;
    left: 6px;
    right: inherit;
    z-index: 0;
    width: 102px;
    border-radius: 40px;
    background-color: rgb(40, 36, 213);
    transition: .2s ease;
}
span.overlay.active{
    left: 104px;
    right: 4px;
    width: 114px;
}


/* Gallery Grid */
.galeria{
    position: relative;
    width: 90%;
    max-width: 1060px;
    margin: 20px auto 0;
    padding: 0 35px;
    text-align: left;
    overflow: hidden;
    border-radius: 10px;
}

/* Gallery Wrappers */
.galeria > div{
    position: absolute;
    top: 0;

    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    place-items: start center;
    gap: 30px 100px;
    opacity: 0;
    transition: .3s ease;
}
.galeria > div:nth-of-type(1){
    left: -100%;
}
.galeria > div:nth-of-type(2){
    left: 100%;
}
.galeria > div.active{
    left: 0;
    position: relative;
    opacity: 1;
}

/* Card */
.card{
	width: 100%;
	max-width: 180px;
    text-align: center;
}

/* Images */
.card .image{
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
}
.card .image img{
    display: block;
    width: 100%;
}

/* Text */
.card h2{
    font-family: 'Outfit';
    font-size: 1rem;
    font-weight: 800;
    color: rgb(40, 36, 213);
    margin-top: 25px;
}
.card h3{
    color: rgb(28, 28, 28);
    margin: 2px 0 15px;
    margin-top: 6px;
    font-size: .95rem;
    font-weight: 300;
}


/* Footer */
footer{
    margin-top: 130px;
}

/* Media Queries */
@media(max-width: 720px){
    header nav ul li a{
        color: white;
    }
}
@media(max-width: 315px){
    .galeria > div{
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}